* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --section-padding: 150px;
}

body {
    font-family: sans-serif;
    position: relative;
}

.arrow-up {
    background-color: var(--bs-orange);
    width: 40px;
    height: 40px;
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    border-radius: 6px;
    position: fixed;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    width: 95%;
    margin: 0 auto;
}



.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
    background-color: white;
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100000000000000000000;
}

@media (max-width: 950px) {
    .nav {
        padding-right: 50px;
        padding-left: 50px;
    }

    @media (max-width: 750px) {
        .nav {
            padding-right: 20px;
            padding-left: 20px;
        }
    }
}

.nav .logo {
    font-size: 28px;
    font-family: system-ui,
        -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: #555;
    padding-bottom: 5px;
    letter-spacing: 1.5px;
}

.nav .logo::first-letter {
    color: #ed893d;
    font-size: 20px;
}

.nav .links {
    display: flex;
    align-items: center;
}

.nav i {
    font-size: 20px;
    cursor: pointer;
}

@media (min-width: 951px) {
    .nav i {
        display: none;
    }

    @media (max-width:950px) {
        .nav i {
            display: block;
        }
    }
}

@media (max-width:950px) {
    .nav .links {
        display: none;
    }
}

.nav .links li a {
    color: black;
    transition: 0.3s;
    font-size: 15px;
    padding: 25px 15px;
}

.nav .links li a:hover {
    color: var(--bs-orange);
}

.nav .links li a.sign-in,
.nav .links li a.sign-up {
    font-weight: 600;
    color: var(--bs-danger);
}

.home {
    width: 100%;
    /* height: calc(100vh - 75px); */
    height: 110vh;
    /* margin-top: 75px; */
    background-image: url(../img/home-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 950px) {
    .home {
        background-attachment: inherit;
    }
}

@media (max-width: 650px) {
    .home {
        height: 100vh;
    }
}

@media (max-height: 650px) {
    .home {
        height: 200vh;
    }
}

.home .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.home .container .text {
    margin: 120px 0 30px;
}

.home .container .text h1 {
    font-size: 48px;
    color: var(--bs-orange);
    font-family: "Philosopher",
        sans-serif;
    margin-bottom: 15px;
}

@media (max-width: 950px) {
    .home .container .text h1 {
        font-size: 38px;
    }
}

.home .container .text p {
    color: var(--bs-gray);
    letter-spacing: 1px;
    font-size: 17px;
}

@media (max-width: 950px) {
    .home .container .text p {
        font-size: 15px;
    }
}

.home .container .image {
    margin-top: 15px;
}

.home .container .image img {
    max-width: 95%;
}

.home .container a.btn {
    color: var(--bs-orange);
    padding: 11px 36px;
    border: 2px solid var(--bs-orange);
    border-radius: 50px;
    background-color: white;
    text-transform: uppercase;
    font-size: 13px;
    transition: 0.3s;
    margin-top: 20px;
}

.home .container a.btn:hover {
    color: white;
    background-color: var(--bs-orange);
}

.home .container .download {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
    gap: 20px;
}

.home .container .download>a {
    display: flex;
    align-items: flex-end;
    color: var(--bs-gray-800);
    transition: 0.3s;
}

.home .container .download>a:hover {
    color: var(--bs-orange);
}

.home .container .download>a i {
    margin-right: 10px;
    font-size: 20px;
}

.home .container .download>a .apple {
    font-size: 25px;
}

.home .container .download>a p {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: bold;
}

/* Forsa section */

.forsa {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.forsa .container h2 {
    font-weight: 100;
    text-align: center;
    letter-spacing: 2px;
    font-size: 45px;
}

@media (max-width: 950px) {
    .forsa .container h2 {
        font-size: 36px;
    }
}

.forsa .container .content {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;
    text-align: center;
}

@media (max-width: 750px) {
    .forsa .container .content {
        flex-direction: column;
    }

    .forsa .container h2 {
        font-size: 30px;
    }
}

.forsa .container .content>div {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.forsa .container .content>div:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.forsa .container .content>div img {
    width: 60px;
}

.forsa .container .content>div span {
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    font-size: 14px;
}

.forsa .container .content>div p {
    font-size: 14px;
    color: #505050;
    font-weight: 300;
}

/* End forsa Section */

/* Start Feature Section */
.feature {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.feature .container {
    text-align: center;
    letter-spacing: 2px;
}

.feature .container h2 {
    font-size: 45px;
    font-weight: 100;
    margin-bottom: 30px;
}

@media (max-width: 950px) {
    .feature .container h2 {
        font-size: 36px;
    }
}

.feature .container p {
    color: #626262;
}

.feature .content {
    margin-top: 60px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}


.feature .content>div {
    flex-basis: calc((100% / 3) - 40px);
    padding: 40px;
    transition: 0.5s;
    flex-grow: 1;
}

@media (max-width: 950px) {
    .feature .content>div {
        flex-basis: calc((100% / 2) - 40px);
    }
}

@media (max-width: 650px) {
    .feature .content>div {
        flex-basis: 100%;
    }
}

.feature .content>div:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.feature .content>div img {
    width: 60px;
}

.feature .content>div p {
    margin-top: 20px;
    font-family: 900;
}

/* End Feature Section */
.timeline {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.timeline .title {
    text-align: center;
}

.timeline .title h2 {
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: 100;
}

@media (max-width: 950px) {
    .timeline .title h2 {
        font-size: 36px;
    }
}


.timeline .title p {
    color: #626262;
}

.timeline .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    text-align: center;
    margin-top: 80px;
}

.timeline .content .card {
    padding: 35px 20px;
    color: var(--bs-dark);
    transition: 0.5s;
}

.timeline .content .card:hover {
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1);
}

.timeline .content .card i {
    margin-bottom: 10px;
}

.timeline .content .card p {
    font-size: 13px;
    font-weight: bold;
}

/* End Timeline Section */

/* Start Contact Section */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: 50px;
}

.contact .container {
    width: 85%;
}

.contact .title h2 {
    text-align: center;
    font-size: 45px;
    font-weight: 100;
    margin-bottom: 100px;
}

@media (max-width: 950px) {
    .contact .title h2 {
        font-size: 36px;
    }
}

.contact .content {
    display: flex;
    justify-content: center;
    gap: 30px;
}

@media (max-width: 750px) {
    .contact .content {
        flex-direction: column;
    }
}

.contact .content .info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex-grow: 1;
}

.contact .content .info .row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact .content .info .row iframe {
    width: 80%;
    height: 200px;
    border: none;
}

@media (max-width: 750px) {
    .contact .content .info .row iframe {
        width: 100%;
    }
}

.contact .content .info .row i {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    color: var(--bs-orange);
}

.contact .content .info .row p {
    font-size: 14px;
    font-weight: 100;
    color: var(--bs-gray);
}

.contact .content .inputs {
    flex-grow: 1;
}

.contact .content .inputs form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contact .content .inputs form .input,
textarea {
    outline: 1px solid #ced4da;
    border: none;
    padding: 10px;
    width: 100%;
    transition: 0.3s;
}

.contact .content .inputs form .input:focus {
    outline: 1px solid var(--bs-orange);
}

.contact .content textarea {
    height: 150px;
}

input[type='submit'] {
    width: fit-content;
    padding: 15px 30px;
    background-color: var(--bs-orange);
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

input[type='submit']:hover {
    background-color: var(--bs-teal);
}

/* End Contact Section */

/* Start Footer */
footer {
    border-top: 10px solid var(--bs-dark);
    text-align: center;
    padding: 30px;
}

footer p {
    font-size: 14px;
    line-height: 25px;
    color: var(--bs-gray);
}

footer p a {
    color: var(--bs-orange);
}

/* End Footer */

/* Start Register */
.register {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bs-dark);
}

.register .container {
    border: 1px solid #ddd;
    max-width: 95%;
    width: 60%;
    border-radius: 6px;
    overflow: hidden;
    background-color: white;
}

@media (max-width: 950px) {
    .register .container {
        width: 70%;
    }
}

@media (max-width: 750px) {
    .register .container {
        width: 80%;
        margin-top: 75px;
    }
}

@media (max-width: 550px) {
    .register .container {
        width: 90%;
    }
}

.register h1 {
    border-bottom: 1px solid #ddd;
    width: 100%;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    background-color: #eee;
}

.register .inputs {
    padding: 15px 15px 0;
}

.register .inputs .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 750px) {
    .register .inputs .row {
        flex-direction: column;
    }
}


.register .inputs .row label {
    flex-basis: 33%;
    text-align: right;
    cursor: pointer;
    color: var(--bs-dark);
    font-weight: bold;
}

.register .inputs .row input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 6px;
    transition: 0.1s linear;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

@media (max-width: 750px) {
    .register .inputs .row input {
        width: 95%;
        margin-left: 0;
        margin: 5px 0 30px;
    }
}

.register .inputs .row input:focus {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
}



.register .inputs .row .row-nested {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-basis: 55%;
}

@media (max-width: 750px) {
    .register .inputs .row .row-nested {
        margin: 10px 0 5px 20px;
    }
}

.register .inputs .row .row-nested div {
    display: flex;
    align-items: center;
    /* flex: 1; */
}

.register .inputs .row .radio {
    display: flex;
    align-items: center;
    width: 24px;
    height: 15px;
    outline: none;

    margin: 0 10px 0 5px;
}

.register .inputs .row .radio:focus {
    box-shadow: none;
}

.register .inputs .row:last-child div label {
    flex-basis: 0;
}

.register .inputs .row button {
    display: block;
    margin: 10px auto;
    padding: 15px 40px;
    border-radius: 50px;
    border: none;
    color: white;
    background-color: var(--bs-orange);
    cursor: pointer;
    transition: 0.3s;
    font-size: 10px;
    font-weight: 600;
}

.register .inputs .row button:hover {
    background-color: var(--bs-dark);
}

/* End Register */
/* Start Login */
.register .inputs .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px 0;
}

@media (max-width: 1100px) {
    .register .inputs .btn {
        flex-direction: column;
    }
}


.register .inputs .btn .btn-log {
    display: block;
    padding: 15px 40px;
    margin: 0px 0 0px 220px;
    border-radius: 50px;
    border: none;
    color: white;
    background-color: var(--bs-orange);
    cursor: pointer;
    transition: 0.3s;
    font-size: 10px;
    font-weight: 600;
}

@media (max-width: 1100px) {
    .register .inputs .btn .btn-log {
        margin: 20px 0 0
    }
}

.register .inputs .btn .reset {
    font-size: 10px;
    text-decoration: underline;
    color: black;
    /* margin: 20px 10px 5px 0; */
    letter-spacing: 2px
}

@media (max-width: 1100px) {
    .register .inputs .btn .reset {
        /* margin: 0 auto 15px; */
    }
}


@media (max-width: 750px) {
    .register .inputs .rem {
        flex-direction: row;
        justify-content: center;
        margin-left: -10%;
    }
}

/* End Login */
/* Start Reset */
.register .inputs .row #email {
    margin-bottom: 10px;
}

/* End Reset */